
button{
  display: flex;
  align-items: center;
}

.date-container{
  position: absolute;
  max-width: 400px;
  z-index: 2;

  .switch{
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

::ng-deep .date-container  {
  .form-select{
    width: 75px;
  }
  .form-select:first-child{
    margin-inline-end: 15px;
  }
  .ngb-dp-weekday{
    font-style: normal;
  }
}

button{
  box-shadow: none !important;
}

.active-btn{
  border: #86b7fe solid 1px;
}
